@font-face {
  font-family: 'mamelon';
  src: url('/src/assets/fonts/Mamelon-3.5HiRegular.woff2') format('woff2');
}

:root {
  --primary-color: #ff7f7e;
  --secondary-color: #ffbe7e;
  --text-color: #333;
  --light-bg: #f5f7fa;
  --border-color: #ccc;
  --highlight-color: #e6eef8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-weight: normal;
  font-family: mamelon, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul {
  list-style: none;
}
button, select {
  cursor: pointer;
}

body {
  font-family: 'mamelon', sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

.modal {
  display: none;
  position: absolute;
  inset: 0;
  padding: 20px 15%;
}
@media (max-width: 768px) {
  .modal {
    padding: 20px 10%;
  }
}
@media (max-width: 480px) {
  .modal {
    padding: 20px 5%;
  }
}

.fade-in {
  animation: FadeIn .3s;
  animation-fill-mode: both;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: FadeOut .3s;
  animation-fill-mode: both;
}
@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}