.confirm-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 20px;
  background-color: rgba(from var(--bg-bright) r g b / 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  z-index: 1000; /* sub-modalは100なのでこれが最強 */
}

.confirm-window-message {
  font-size: .9rem;
  text-align: center;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.confirm-window-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.confirm-window-button {
  width: 100%;
  padding: 5px;
  border: none;
  font-size: .9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.confirm-window-button.ok-button {
  background-color: var(--primary-color);
  color: var(--theme-contrast-color);
}
.confirm-window-button.cancel-button {
  background-color: var(--bg-bright);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.confirm-window-button:hover {
  background-color: var(--secondary-color);
}

.confirm-window-button.ok-button:only-child {
  width: 50%;
  margin: 0 auto;
}