#modal-top {
  /* display: flex; */
  flex-direction: column;
  height: 100vh;
  background-color: var(--light-bg);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.button-container button {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}
.button-container button:hover {
  background-color: var(--secondary-color);
}
.button-container button.settings-button {
  mask-image: url('../assets/images/settings.svg');
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}
.button-container button.achievements-button {
  mask-image: url('../assets/images/achievement.svg');
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}
.button-container button.achievements-button:hover {
  transform: rotate(-15deg);
}
.button-container button.settings-button:hover {
  transform: rotate(30deg);
}
.button-container button.top-button {
  all: unset;
  padding-top: calc((32px - .9rem * 1.6) / 2);
  padding-bottom: calc((32px - .9rem * 1.6) / 2);
  padding-left: 20px;
  padding-right: 20px;
  font-size: .9rem;
  border-radius: 16px;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s ease;
}
.button-container button.top-button:hover {
  background-color: var(--secondary-color);
}


.top-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.top-life-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#top-map-container {
  flex: 1;
}

.top-start-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-start-container button {
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s ease;
}
.top-start-container button:hover {
  background-color: var(--secondary-color);
}